.btnActiveCast {
    color: #52B54B !important;
}

.headerSelectedPlayer {
    font-weight: normal;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 37.5em) {
    .headerSelectedPlayer {
        display: none;
    }
}