.libraryPage {
    padding-top: 5.5em !important;
}

    .libraryPage:not(.noSecondaryNavPage) {
        padding-top: 9.2em !important;
    }

.absolutePageTabContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* If this is raised, make sure it does not overlap bottom footer */
    z-index: 1;
    margin: 0 !important;
    /* Page needs to supply padding */
    top: 6.9em !important;
    transition: transform 200ms ease-out;
}

.pageTabContent:not(.is-active) {
    display: none !important;
}

.sidebarDivider {
    height: 1px;
    background: #eaeaea;
    margin: .5em 0;
    display: none;
}

.headerUserImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100em;
    vertical-align: middle;
    display: inline-block;
}

.headerUserButtonRound img {
    border-radius: 100em;
}

.headerButton {
    flex-shrink: 0;
}

.hideMainDrawer .mainDrawerButton {
    display: none;
}

.libraryMenuButtonText {
    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0 !important;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    margin: 0 0 0 .5em;
    /* Avoid pushing right header off the screen */
    flex-shrink: 1;
}

.skinHeader {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    background-color: #101010;
    color: #ccc;
}

.hiddenViewMenuBar .skinHeader {
    display: none;
}

.headerTop {
    padding: 1em 0;
}

.headerLeft {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

@supports ( (backdrop-filter: blur(1.5em)) or (-webkit-backdrop-filter: blur(1.5em)) ) {

    .skinHeader-blurred {
        background: rgba(20,20,20,.7);
        -webkit-backdrop-filter: blur(1.5em);
        backdrop-filter: blur(1.5em);
    }
}

.sectionTabs {
    width: 100%;
    text-align: center;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0,0,0,.4);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.7)),color-stop(10%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.selectedMediaFolder {
    background-color: #f2f2f2 !important;
}

.sidebarLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit !important;
    font-weight: normal !important;
    vertical-align: middle;
    padding: 1em 0 1em 2.4em;
}

    .sidebarLink:hover {
        background: #f2f2f2;
    }

    .sidebarLink.selectedSidebarLink {
        background: #f2f2f2 !important;
    }

.sidebarLinkIcon {
    margin-right: 1em;
}

.sidebarHeader {
    padding-left: 1.4em;
    margin: 1.2em 0 .7em;
    font-weight: 500;
}

body:not(.dashboardDocument) .btnNotifications {
    display: none !important;
}

.darkDrawer {
    background-color: #181818 !important;
    color: #ccc;
}

    .darkDrawer .sidebarDivider {
        background: #262626 !important;
    }

    .darkDrawer .sidebarLink:hover {
        background: #252528;
    }

    .darkDrawer .sidebarLink.selectedSidebarLink, .darkDrawer .selectedMediaFolder {
        background: #252528 !important;
        color: #52B54B !important;
    }

.mainDrawer-scrollContainer {
    padding-bottom: 10vh;
}

.dashboardDocument .skinBody {
    transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media all and (max-width: 40em) {

    .sidebarLink {
        font-size: 110%;
    }
}

@media all and (min-width: 40em) {

    .dashboardDocument .sidebarLink {
        padding-top: .7em;
        padding-bottom: .7em;
    }

    .dashboardDocument .mainDrawer {
        z-index: inherit !important;
        left: 0 !important;
        top: 0 !important;
        transform: none !important;
        font-size: 92%;
    }

    .dashboardDocument .mainDrawer-scrollContainer {
        margin-top: 4.9em !important;
    }

    .dashboardDocument.withSectionTabs .mainDrawer-scrollContainer {
        margin-top: 8.5em !important;
    }

    .dashboardDocument .tmla-mask {
        display: none !important;
    }

    .dashboardDocument .mainDrawerButton {
        display: none !important;
    }

    .dashboardDocument .skinBody {
        left: 18.5em;
    }

    .dashboardDocument .mainDrawer {
        width: 20.07em !important;
    }

    .dashboardDocument .adminDrawerLogo {
        display: none !important;
    }

    .dashboardDocument .darkDrawer {
        background-color: rgba(28,28,31,.3) !important;
    }
}

@media all and (min-width: 40em) and (max-width: 84em) {

    .dashboardDocument.withSectionTabs .mainDrawer-scrollContainer {
        margin-top: 7em !important;
    }
}

@media all and (max-width: 84em) {

    .withSectionTabs .headerTop {
        padding-bottom: .2em;
    }

    .sectionTabs {
        font-size: 88%;
    }
}

@media all and (min-width: 84em) {

    .libraryDocument .headerTabs {
        align-self: center;
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: -3.34em;
        position: relative;
        top: -.45em;
    }

    .libraryDocument .headerTop {
        padding: .9em 0;
    }

    .libraryPage:not(.noSecondaryNavPage) {
        padding-top: 5.3em !important;
    }

    .pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
        padding-top: 7.4em !important;
    }

    .absolutePageTabContent {
        /* Page needs to supply padding */
        top: 4.8em !important;
    }
}

.paper-icon-button-light.btnActiveCast {
    color: #4285F4;
}

.headerSelectedPlayer {
    font-weight: normal;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 37.5em) {
    .headerSelectedPlayer {
        display: none;
    }
}
