.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: layout style;
}

/* Links */
a {
    color: #52B54B /*{b-link-color}*/;
    font-weight: 500;
    text-decoration: none;
}

.button-link {
    font-weight: 500 !important;
}

a:visited {
    color: #52B54B /*{b-link-visited}*/;
    text-decoration: none;
}

a:hover {
    color: #2E7D32 /*{b-link-hover}*/;
    text-decoration: none;
}

a:active {
    color: #2E7D32 /*{b-link-active}*/;
    text-decoration: none;
}

/* Remove IE mobile 300ms tap delay */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /* Prevent white flickering */
    background-color: #242424;
    /* Normalize for different browsers */
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", 'Open Sans', sans-serif;
    font-size: 88%;
    line-height: 1.35;
}

.smallerFontSize {
    font-size: 82%;
}

h1 {
    font-family: -apple-system-headline, system-ui, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", 'Open Sans', sans-serif;
    font-weight: normal !important;
    font-size: 1.8em;
    margin-top: 1em;
}

h2 {
    font-family: -apple-system-subheadline, system-ui, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 1em;
    font-size: 1.6em;
}

h3 {
    font-weight: normal;
    margin-top: 1em;
    font-size: 1.17em;
}

body {
    overflow-y: scroll !important;
    /* This is needed to prevent a horizontal scrollbar while neon-animated-pages are animating. */
    overflow-x: hidden;
    /*Can't use this with safari or it causes some content to disappear*/
    /*-webkit-overflow-scrolling: touch;*/
    /* Remove the white default from jqm */
    background-color: transparent !important;
    /* Normalize for different browsers */
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

    body.autoScrollY {
        overflow-y: auto !important;
    }

.mainAnimatedPage {
    /* Have to override because it breaks scrolling when dependant on window scroll */
    contain: style !important;
}

/* Without this, no content will be displayed in mobile safari */
.pageContainer {
    overflow-x: visible !important;
    /* jqm often wants to assign a background color to this */
    background-color: transparent !important;
}

.bodyWithPopupOpen {
    overflow-y: hidden !important;
}

.ui-body-a h1, .ui-body-a h2 {
    color: #444;
}

.ui-body-b h1, .ui-body-b h2 {
    color: #bbb;
}

.libraryPage h1 a {
    color: inherit !important;
}

h1 a:hover {
    text-decoration: underline;
}

.ui-body-b a.accent {
    color: #52B54B !important;
}

.ui-body-a .paperList {
    background-color: #fff;
}

.ui-body-a [is="emby-select"] {
    border-color: #ccc !important;
}

.ui-body-a [is="emby-input"], .ui-body-a [is="emby-textarea"] {
    background: none;
    border-color: #ccc !important;
}

.ui-body-a .secondaryText {
    color: #ccc;
}

.ui-body-b .secondaryText {
    color: #aaa;
}

div[data-role='page'] {
    outline: none;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    transition: transform 180ms linear;
}

.headroom--pinned {
    transform: none;
}

.headroom--unpinned:not(.headroomDisabled) {
    transform: translateY(-100%);
}

.hide {
    display: none !important;
}

/*
    Header
    */
.header {
    padding: 1.5em 0 0 1.5em;
}

.imgLogoIcon {
    height: 2em;
    vertical-align: middle;
}

    .imgLogoIcon + span {
        margin-left: .75em;
    }

@media all and (max-height: 50em) {

    .header {
        display: none !important;
    }
}

.pageTitle {
    margin-top: 0;
    font-family: inherit;
}

.fieldDescription {
    padding-left: .15em;
    font-weight: normal;
    white-space: normal !important;
}

    .fieldDescription + .fieldDescription {
        margin-top: .3em;
    }

.background-theme-a .backgroundContainer {
    background-color: #f6f6f6;
}

.dialog.background-theme-a {
    background-color: #f0f0f0;
}

div[data-role="content"] {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 1em;
}

.page, .pageWithAbsoluteTabs .pageTabContent, .padded-bottom-page, .content-primary {
    /* Need this so that the audio player doesn't cover content, but also for unveil lazy loading. */
    padding-bottom: 14em !important;
}

@media all and (min-width: 50em) {

    /*
    Forms
    */
    form, .readOnlyContent {
        max-width: 54em;
    }

    .header {
        padding-bottom: 1em;
    }
}

@media all and (min-width: 56.25em) {

    .page:not(.standalonePage) .header {
        padding-top: 0;
    }
}

.supporterPromotionContainer {
    margin: 0 0 2em;
}

@media all and (min-width: 80em) {

    .supporterPromotionContainer {
        position: fixed;
        top: 120px;
        right: 0;
    }
}

.fullWidthContent .supporterPromotionContainer {
    position: static !important;
}

@media all and (min-width: 50em) {

    .supporterPromotionContainer {
        display: flex;
        flex-direction: row-reverse;
    }

    .supporterPromotion {
        text-align: center;
        padding: 0 2em;
    }

        .supporterPromotion button {
            padding-left: 2em;
            padding-right: 2em;
        }
}

.imageDropZone {
    border: .25em dashed #bbb;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    padding: 1.6em;
    text-align: center;
    color: #bbb;
}

.ui-body-a .emby-collapsible-button {
    border-color: #ddd;
}

.ui-body-a .collapseContent {
    background-color: #fff;
}

.ui-body-a .inputLabelUnfocused, .ui-body-a .textareaLabel {
    color: #555;
}

.ui-body-a .inputLabelFocused, .ui-body-a .textareaLabelFocused, .ui-body-a .selectLabelFocused {
    color: green;
}

.ui-body-a .selectLabelUnfocused, .ui-body-a .paperListLabel, .ui-body-a .fieldDescription {
    color: #555;
}

.ui-body-a .visualCardBox {
    background-color: #fff;
}

.ui-body-a .listItem .secondary {
    color: #737373;
}
